* {
    margin: 0;
}

body {
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7c0e293;
    min-height: 100vh;
}

.container {
    max-width: 700px;
    width: 100%;
}


.top-header{
    display: flex;
    justify-content: space-between;
}

.dark-light-button{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#dark-light-text{
    margin-right: 10px;
    font-family: Space Mono,Georgia, serifTahoma, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.search {
    padding: 8px 20px;
    margin: 40px 0;
    background-color: white;
    border-radius: 10px;
}




input{
    border: none;
    line-height: 1.4em;
    font-size: 1.4em;
    margin-left: 10px;
    width: 100%;
}


.search_form {
    display: flex;
    align-items: center;
}

.search_form:hover{
    cursor: pointer;
}

.search_button{
    font-size: 13px;
    background-color: #0079ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

.search_button:hover{
    cursor: pointer;
}





.card {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-img-container {
    width: 60px;
    height: 60px;
}

.card-profile-img {
    width: 100%;
    height: 100%;
}

.card-basic {
    align-self: center;
    width: 70%;
    font-size: 15px;
}

.card-bio,
.card-stats,
.card-socials {
    width: 100%;
}

.card-bio {
    margin-top: 20px;
}

.card-stats {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 5px; */
    text-align: left;
    background-color: #b7c0e293;
    border-radius: 15px;
}

.card-stats span {
    padding: 10px;
}

.card-stats p {
    font-size: 16px;
}

.card-socials {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    /* grid-template-columns: 1fr 1fr; */
}

.social-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-container p {
    width: 100%;
}

@media only screen and (min-width: 480px) {
    .card-img-container {
        width: 80px;
        height: 80px;
    }

    .card-basic {
        font-size: 17px;
    }

    .card-bio,
    .card-stats,
    .card-socials {
        width: 90%;
        align-self: flex-end;
    }

    .card-stats span {
        padding: 15px;
    }

    .card-stats p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    header {
        margin-left: 0;
        margin-right: 0;
    }

    .card {
        padding: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .card-img-container {
        width: 100px;
        height: 100px;
    }

    .card-basic {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .date {
        margin-top: 6px;
    }

    .card-bio,
    .card-stats,
    .card-socials {
        width: 80%;
        align-self: flex-end;
    }

    .card-stats span {
        padding: 30px;
    }

    .card-stats p {
        font-size: 16px;
    }

    .card-socials {
        grid-template-columns: 1fr 1fr;
    }
}
/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 */

/* * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: #b7c0e293;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    max-height: 650px;
    margin-inline: auto;
    overflow: hidden;
    margin-top: 100px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.dark-light-button {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#dark-light-text {
    margin-right: 10px;
    font-family: Space Mono, Georgia, serifTahoma, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.search {
    padding: 8px 20px;
    margin: 40px 0;
    background-color: white;
    border-radius: 10px;
}

input {
    border: none;
    line-height: 1.4em;
    font-size: 1.4em;
    margin-left: 10px;
    width: 100%;
}

.search_form {
    display: flex;
    align-items: center;
}

.search_form:hover {
    cursor: pointer;
}

.search_button {
    font-size: 13px;
    background-color: #0079ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

.search_button:hover {
    cursor: pointer;
}

main {
    height: 460px;
    background-color: white;
    border-radius: 15px;
}

.modal {
    display: flex;
    flex-flow: row;
    margin: 20px;
    gap: 50px;
    padding: 50px 30px 50px;
}

.basic-info {
    display: flex;
    flex-wrap: wrap row;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

#basic-styling h2:nth-child(1) {
    font-size: 25px;
}

#basic-styling p:nth-child(2) {
    padding-top: 0px;
    color: #0079ff;
}

.bio {
    color: grey;
}

.profile-pic * {
    height: 150px;
}

.info-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.info-container > div {
    min-width: 75%;
}
.info-container * {
    margin: 5px;
}

.stats-info {
    background-color: #ccd3eb93;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    border-radius: 10px;
    padding: 15px 20px;
}

.stats-container {
    padding: 10px;
}

.stats-info div p:nth-child(2) {
    font-size: 20px;
    font-weight: bolder;
}

.icon-content * {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.modal-container {
    display: flex;
    gap: 30px;
}

.modal-container * {
    margin: 7px;
} */